* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #FFF7C7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFF7C7; /* Gecko Browsers */
}

/*
 * Globals
 */
body {
  padding: 0 0 0 0;
  line-height: 1.5;
  font-size: 62.5%;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'IBM Plex Mono', monospace;
}

h1 {
  font-weight: normal;
}

h2 {
  margin-bottom: 1.2rem;
  font-size: 26px;
  font-weight: 900;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

h3, h4, h5 {
  margin-bottom: 1rem;
  font-size: 22px;
  font-weight: 900;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.textslice p, li {
  font-family: 'IBM Plex Serif';
  @apply text-base mb-5 leading-relaxed px-2;
}

.textslice p.block-img {
  @apply px-0;
}

.textslice .block-embed iframe {
  @apply mx-auto;
}

.textslice a {
  text-decoration: underline;
  color: #1438A6;
}

.textslice ul {
  list-style-type: square;
}

nav a {
  font-family: 'IBM Plex Sans';
}

pre {
  margin-bottom: 20px;
  padding-left: 40px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  width: 100%;
  height: auto;
}
.container {
  max-width: 700px;
  margin: auto;
}

.grid-cols-postCardGrid {
  justify-items: center;
}

nav > a:last-of-type {
  margin-left: auto;
}

/* Media Queries */
@media (max-width: 767px) {
  
}